section.widget.testimonials-logos{
    max-width:100%;
}
section.widget.testimonials-logos blockquote > div.picture{
	width:200px;
	height:200px;
	background-color:#ffffff;
	float:left;
    object-fit:contain;	
	display: flex;
	align-items: center;
	justify-content: center; 
	border: 1px solid rgba(211,211,211,0.8);
}
section.widget.testimonials-logos blockquote > div.picture > img{
    border:none;
    border-radius:0;
    float:left;
}
section.widget.testimonials-logos.text-left{
    text-align:left;
}
section.widget.testimonials-logos.text-center{
    text-align:center;
}
section.widget.testimonials-logos.text-right{
    text-align:right;
}
section.widget.testimonials-logos blockquote{
    border:0px solid transparent;
    margin-left:0;
    margin-right:0;
}
section.widget.testimonials-logos blockquote > h1,
section.widget.testimonials-logos blockquote > div.quote{
    margin-left:220px;
}
section.widget.testimonials-logos.text-left blockquote > h1,
section.widget.testimonials-logos.text-left blockquote > div.quote{
    text-align:left;
}
section.widget.testimonials-logos.text-center blockquote > h1,
section.widget.testimonials-logos.text-center blockquote > div.quote{
    text-align:center;
}
section.widget.testimonials-logos.text-right blockquote > h1,
section.widget.testimonials-logos.text-right blockquote > div.quote{
    text-align:right;
}
section.widget.testimonials-logos blockquote footer{
    margin-top:20px;
    text-align:right;
}
section.widget.testimonials-logos blockquote footer > *{
    margin-left:auto;
    margin-right:0;
}
section.widget.testimonials-logos p.author{
    text-transform:uppercase;
    font-weight:bold;
}
section.widget.testimonials-logos a{
    text-decoration:none;
}
@media only screen and (max-width:767px) {
	section.widget.testimonials-logos .row.owl-item{
		margin-left:0;
		margin-right:0;
	}
	section.widget.testimonials-logos blockquote{
		padding-left:45px;
	}
	section.widget.testimonials-logos blockquote > div.picture > img {
		float: none;
	}
	section.widget.testimonials-logos blockquote > div.picture{
		float: none;
		display: block;
		margin: 0 auto 35px;
	}
	section.widget.testimonials-logos blockquote h1,
	section.widget.testimonials-logos blockquote > div.quote {
		margin-left: 0;
	}
	section.widget.testimonials-logos.text-right blockquote > h1,
	section.widget.testimonials-logos.text-right blockquote > div.quote,
	section.widget.testimonials-logos.text-left blockquote > h1,
	section.widget.testimonials-logos.text-left blockquote > div.quote,
	section.widget.testimonials-logos blockquote h1,
	section.widget.testimonials-logos blockquote p{
		text-align: center;
	}
}
