section.widget.testimonials{
    max-width:100%;
}
section.widget.testimonials blockquote > div.picture > img{
    min-width:200px;
    min-height:200px;
    border-radius:200px;
    float:left;
    width:200px;
}
section.widget.testimonials.text-left{
    text-align:left;
}
section.widget.testimonials.text-center{
    text-align:center;
}
section.widget.testimonials.text-right{
    text-align:right;
}
section.widget.testimonials blockquote{
    border:0px solid transparent;
    margin-left:0;
    margin-right:0;
}
section.widget.testimonials blockquote > h1,
section.widget.testimonials blockquote > div.quote{
    margin-left:220px;
}
section.widget.testimonials.text-left blockquote > h1,
section.widget.testimonials.text-left blockquote > div.quote{
    text-align:left;
}
section.widget.testimonials.text-center blockquote > h1,
section.widget.testimonials.text-center blockquote > div.quote{
    text-align:center;
}
section.widget.testimonials.text-right blockquote > h1,
section.widget.testimonials.text-right blockquote > div.quote{
    text-align:right;
}
section.widget.testimonials blockquote footer{
    margin-top:20px;
    text-align:right;
}
section.widget.testimonials blockquote footer > *{
    margin-left:auto;
    margin-right:0;
}
section.widget.testimonials p.author{
    text-transform:uppercase;
    font-weight:bold;
}
section.widget.testimonials a{
    text-decoration:none;
}
@media only screen and (max-width:767px) {
	section.widget.testimonials .row.owl-item{
		margin-left:0;
	}
	section.widget.testimonials blockquote{
		padding-left:35px;
	}
	section.widget.testimonials blockquote > div.picture > img {
		margin: 0 auto 35px;
		float: none;
	}	
	section.widget.testimonials blockquote h1,
	section.widget.testimonials blockquote > div.quote {
		margin-left: 0;
	}
	section.widget.testimonials.text-right blockquote > h1,
	section.widget.testimonials.text-right blockquote > div.quote,
	section.widget.testimonials.text-left blockquote > h1,
	section.widget.testimonials.text-left blockquote > div.quote,
	section.widget.testimonials blockquote h1,
	section.widget.testimonials blockquote p{
		text-align: center;
	}
}
